<div class="app-login-form">
  <app-snackbar
    [errorMessage]="errorMessage"
    *ngIf="errorMessage"
  ></app-snackbar>
  <h2>{{ isLoginMode ? "Login" : "SignUp" }} Here</h2>
  <app-loader *ngIf="isLoading"></app-loader>
  <form
    #authform="ngForm"
    (ngSubmit)="onFormSubmitted(authform)"
    *ngIf="!isLoading"
  >
    <div class="form-input">
      <label>Email Address</label>
      <input
        type="email"
        required
        placeholder="Email address"
        name="email"
        ngModel
        email
      />
    </div>
    <div class="form-input">
      <label>Password</label>
      <input
        type="password"
        required
        minlength="8"
        placeholder="Password"
        name="password"
        ngModel
      />
    </div>
    <button type="submit" class="app-login-btn">
      {{ isLoginMode ? "Login" : "Signup" }}
    </button>
    <p>
      {{
        isLoginMode ? "Do not have an accout yet?" : "Already Have an account?"
      }}
      <button class="app-toggle-btn" type="button" (click)="onswitchMode()">
        {{ isLoginMode ? "Register Here." : "Login Here" }}
      </button>
    </p>
  </form>
</div>
